@{
    ViewBag.Title = "About";
}

<link href="~/Content/css/team_style.css" rel="stylesheet" />

<!--banner tag start-->
<div class="banner1">
    <div class="container">
        <h3><a href="#/">Home</a> / <span>About</span></h3>
    </div>
</div>
<!--banner tag end-->
<!-- about-page start -->
<div class="about">
    <div class="container">
        <div class="w3-hed-all">
            <h3>About Sunglass Bazar</h3>
        </div>
        <div class="agileits_w3layouts_team_grids w3ls_about_grids new-agileinfo">
            <div class="col-md-6 w3ls_banner_bottom_left w3ls_about_left">
                <div class="w3ls_about_left_grids">
                    <div class="w3ls_about_left_grid">
                        <h3><i class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #0094ff"></i>&nbsp; Who We 're ?</h3>
                        <p>
                           Sunglass Bazar is Asia’s fastest growing online marketplace, offering an unparalleled shopping experience 
                  in Bangladesh,Pakistan, Myanmar, Sri Lanka ,India, Nepal and 190+ countries.Sunglass Bazar hosts a wide assortment of 
                  consumer Sunglasses,fashion and beauty products, alongside a rapidly growing miscellany of general merchandise.
                    Sunglass Bazar privileges the personalization and security of the shoppers’ experience above all else. 
                    Excellent value-for-money, large assortment of original products, fast delivery and easy returns 
                    are Sunglass Bazar signatures.Sunglass Bazar offers not just a retail solution of optimal convenience, 
                    it is effecting disruptive change in the digitization of the region.
                        </p>
                    </div>
     <div class="w3ls_about_left_grid">
     <h3><i class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #0094ff"></i>&nbsp; About Sunglass Bazar</h3>
                        <p>
                            Launched in 2018, Sunglass Bazar is the leading platform for global
                             wholesale & retailing trade.We serve millions of buyers and suppliers around the world. 
                        </p>
                    </div>
            <div class="w3ls_about_left_grid">
            <h3><i class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #0094ff"></i>&nbsp; Our Mission</h3>
                        <p>
                      As part of the Sunglass Bazar, our mission is to make it easy to do business anywhere.<br /><br />
                             We do this by giving suppliers the tools necessary to reach a global audience for their products,
                              and by helping buyers find products and suppliers quickly and efficiently. 
                        </p>
                    </div><br />
            <div class="w3ls_about_left_grid">
            <h3><i class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #0094ff"></i>&nbsp; One-Stop Sourcing</h3>
                        <p>
                            Sunglass Bazar brings you hundreds of millions of products in over
                             17 different major products types, including consumer world famous brands.<br /><br />
                            Buyers for these products are located in 190+ countries and regions, and exchange hundreds of thousands
                             of messages with suppliers on the platform each day. 
                        </p>
                    </div><br />
             <div class="w3ls_about_left_grid">
             <h3><i class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #0094ff"></i>&nbsp; Anytime, Anywhere</h3>
                        <p>
                            As a platform, we continue to develop services to help businesses do more and
                             discover new opportunities. <br /><br />
                            Whether it’s sourcing from your mobile phone or contacting suppliers in their local Language, 
                            turn to sunglassbazar.com.bd  for all your global business needs. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 agileits_about_right">
                <img src="~/images/aboutPage.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about end-->

