
@{
    ViewBag.Title = "BestSellers";
}
<hr />
 <!--breadcrumbs, BestSellers, Explore Tag js & css link -->
<link href="~/Content/css/beststyle.css" rel="stylesheet" />
<link href="~/Content/css/bestSellers.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/css/header.css" rel="stylesheet" />
<link href="~/Content/css/memenu.css" rel="stylesheet" />
<script src="~/Scripts/js/memenu.js"></script>
<script src="~/Scripts/js/jquery.easydropdown.js"></script>

<!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="#/">Home</a></li>
                    <li class="active">Best Sellers</li>
                </ol>
            </div>
        </div>
    </div>
<!--end-breadcrumbs-->

<!--BestSellers Products Start-->
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">Best Sellers</h3>
            <div class="arrivals-grids">
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-01.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">BURBERRY</a></h6>
                            <span class="size">Square</span>
                            <p><del>$110.00</del><em class="item_price">$80.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-02.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben2">
                            <p>OUT OF STOCK</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">GUCCI</a></h6>
                            <span class="size">Square</span>
                            <p><del>$130.00</del><em class="item_price">$90.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-03.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">RAY-BAN</a></h6>
                            <span class="size">Round</span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-04.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">OAKLEY</a></h6>
                            <span class="size">Oval</span>
                            <p><del>$90.00</del><em class="item_price">$75.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="arrivals-grids">
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-01.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">COSTA DEL MAR</a></h6>
                            <span class="size">Rectangle </span>
                            <p><del>$110.00</del><em class="item_price">$80.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-02.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben2">
                            <p>OUT OF STOCK</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">MAUI JIM</a></h6>
                            <span class="size">Shield </span>
                            <p><del>$130.00</del><em class="item_price">$90.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-03.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">VERSACE</a></h6>
                            <span class="size">Pilots </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/newArrival-04.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">BURBERRY</a></h6>
                            <span class="size">Pilots </span>
                            <p><del>$90.00</del><em class="item_price">$75.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--BestSellers Products End-->


    <!--Explore Products -starts-->
    <div class="prdt" id="backs">
        <div class="container">
            <div class="prdt-top">
                <div class="col-md-9 prdt-left">
                    <div class="product-one">
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/p-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>RAY-BAN</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 300</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-40%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/pp-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>VERSACE</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 275</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/ppp-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>OAKLEY</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 400</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-45%</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product-one">
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/pppp-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>MAUI JIM</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-35%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/ppppp-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>GUCCI</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 320</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-55%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#/singlePage" class="mask"><img class="img-responsive zoom-img" src="~/images/pppppp-2.jpg" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>COSTA DEL MAR</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 175</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-59%</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!--right side all checkbox tag-->
                <div class="col-md-3 prdt-right">
                    <div class="w_sidebar">
                        <section class="sky-form">
                            <h4>Categories</h4>
                            <div class="row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Types</label>
                                </div>
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women Sunglass</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids Sunglass</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men Sunglass</label>
                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>Brand</h4>
                            <div class="row1 row2 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>RAY-BAN</label>
                                </div>
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>VERSACE</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>OAKLEY</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>MAUI JIM</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>GUCCI</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>COSTA DEL MAR</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>BURBERRY</label>

                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>Color</h4>
                            <ul class="w_nav2">
                                <li><a class="color1" href="#"></a></li>
                                <li><a class="color2" href="#"></a></li>
                                <li><a class="color3" href="#"></a></li>
                                <li><a class="color4" href="#"></a></li>
                                <li><a class="color5" href="#"></a></li>
                                <li><a class="color6" href="#"></a></li>
                                <li><a class="color7" href="#"></a></li>
                                <li><a class="color8" href="#"></a></li>
                                <li><a class="color9" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                                <li><a class="color12" href="#"></a></li>
                                <li><a class="color13" href="#"></a></li>
                                <li><a class="color14" href="#"></a></li>
                                <li><a class="color15" href="#"></a></li>
                                <li><a class="color5" href="#"></a></li>
                                <li><a class="color6" href="#"></a></li>
                                <li><a class="color7" href="#"></a></li>
                                <li><a class="color8" href="#"></a></li>
                                <li><a class="color9" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                            </ul>
                        </section>
                        <section class="sky-form">
                            <h4>Discount</h4>
                            <div class="row1 row2 scroll-pane">
                                <div class="col col-4">
                                    <label class="radio"><input type="radio" name="radio" checked=""><i></i>75 % and above</label>
                                    <label class="radio"><input type="radio" name="radio"><i></i>55 % and above</label>
                                    <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                                </div>
                                <div class="col col-4">
                                    <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                    <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                    <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--Explore Products -starts-->

    <!-- new Products tag start-->
<div class="product-agile">
    <div class="container">
        <h3 class="tittle1"> New Products</h3>
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="caption">
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-001.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/abt-1.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-62%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-2.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/abt-03.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-30%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">MAUI JIM</a></h6>
                                        <span class="size">RED COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-3.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/i2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben1">
                                        <p>SALE</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">VERSACE</a></h6>
                                        <span class="size">PURPLE COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/img-01.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/img2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-20%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/l2.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/img3.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">VERSACE</a></h6>
                                        <span class="size">BLACK COLOR</span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/l5.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/newArrival-4.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">GUCCI</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/p4.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/p10.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-75%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">COSTA DEL MAR</a></h6>
                                        <span class="size">BLACK COLOR</span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/p13.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/p15.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <script>
                    $(function () {
                        $("#slider").responsiveSlides({
                            auto: true,
                            nav: true,
                            speed: 100,
                            namespace: "callbacks",
                            pager: true,
                        });
                    });
                </script>  <!-- new Products slide tag script code -->
            </div>
        </div>
    </div>
</div>    <!-- new Products tag end-->


