@{
    ViewBag.Title = "OurTeam";
}

<link href="~/Content/css/team_style.css" rel="stylesheet" />
<link href="~/Content/css/team_easy-responsive-tabs.css" rel="stylesheet" />
<link href="~/Content/css/team_flexslider.css" rel="stylesheet" />
<!--banner tag start-->
<div class="banner1">
    <div class="container">
        <h3><a href="#/">Home</a> / <span>Our Team Members</span></h3>
    </div>
</div>
<!--banner tag end-->
<!-- about-page start -->
<div class="about">
    <div class="container">
        <div class="w3-hed-all">
            <h3>About Us</h3>
        </div>
        <div class="agileits_w3layouts_team_grids w3ls_about_grids new-agileinfo">
            <div class="col-md-6 w3ls_banner_bottom_left w3ls_about_left">
                <div class="w3ls_about_left_grids">
                    <div class="w3ls_about_left_grid">
                        <h3><i class="glyphicon glyphicon-share" aria-hidden="true" style="color: #ff6a00"></i>&nbsp; Sadat Chowdhury</h3>
                        <p style="background-color: #0094ff">
                            &nbsp;&nbsp; &nbsp;&nbsp;  I 've completed my Graduation & Post-Graduation from Jagannath University Dhaka 2015 and  2016 respectively.
                            I 've recently completed one year professional Diploma course in C# programming from IDB-BISEW IT Scholarship Project.
                        </p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="glyphicon glyphicon-share" aria-hidden="true" style="color: #ff6a00"></i>&nbsp; MD. Aliul Islam</h3>
                        <p style="background-color: #00ff21">
                            &nbsp;&nbsp; &nbsp;&nbsp;  Welcome to my website. I am Student of IDB-BISEW Scholarship program base on that
                             C# .NET Programming Language. I completed my Post Graduate degree in ICT & Philosophy from 
                            Dhaka College Dhaka under The University of Dhaka. Website http://aliulislam.lictproject.info/
                        </p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="glyphicon glyphicon-share" aria-hidden="true" style="color: #ff6a00"></i>&nbsp; Nur Nabi Hridoy</h3>
                        <p style="background-color: #0094ff">
                            &nbsp;&nbsp; &nbsp;&nbsp;  I 've completed my Graduation & Post-Graduation from Titumir College Dhaka 2012 and  2013 accordingly.
                            I 've recently completed one year professional Diploma course in C# programming from IDB-BISEW IT Scholarship Project.
                        </p>
                    </div><br />
                    <div class="w3ls_about_left_grid">
                        <h3><i class="glyphicon glyphicon-share" aria-hidden="true" style="color: #ff6a00"></i>&nbsp; Rafia Aktar</h3>
                        <p style="background-color: #4cff00">
                            &nbsp; &nbsp; &nbsp;&nbsp;  I 've completed my Graduation & Post-Graduation from  Tongi Govt College,Gazipur 2013 and  2014 respectively.
                            I 've recently completed one year professional Diploma course in C# programming from IDB-BISEW IT Scholarship Project.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 agileits_about_right">
                <img src="~/images/ab2.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about end-->

<!-- team  tag start-->
<div class="team" id="team">
    <div class="container">
        <div class="w3-hed-all">
            <h3>Our Team Members</h3>
        </div>
        <div class="inner_w3l_agile_grids">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>
                        <img src="~/images/sadat.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/aliul.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/nurnabi.jpg" alt=" " class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/rafia.jpg" alt=" " class="img-responsive" />
                    </li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1">
                        <div class="col-md-6 team-img-w3-agile">
                        </div>
                        <div class="col-md-6 team-Info-agileits">
                            <h4>Sadat Chowdhury</h4>
                            <span>Web Developer</span>
                            <p style="color: #e115f1"><strong>Nothing To Worry ! Life Is A Struggle.</strong></p>
                            <div class="w3_agileits_social_media team_agile_w3l">
                                <ul class="social-icons3">
                                    <li class="agileinfo_share">Follow In</li>
                                    <li><a href="https://www.facebook.com/sadat.bd.5" class="wthree_facebook" target="_blank"> <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/SadatChowdhury9" class="wthree_twitter" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/sadat-chowdhury-385b97152" class="wthree_dribbble" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="tab2">
                        <div class="col-md-6 team-img-w3-agile">
                        </div>
                        <div class="col-md-6 team-Info-agileits">
                            <h4>MD. Aliul Islam</h4>
                            <span>Web Developer</span>
                            <p style="color: #e115f1"><strong>Life is so short but work is long.</strong></p>
                            <div class="w3_agileits_social_media team_agile_w3l">
                                <ul class="social-icons3">
                                    <li class="agileinfo_share">Follow In</li>
                                    <li><a href="#" class="wthree_facebook" target="_blank"> <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_twitter" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_dribbble" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab3">
                        <div class="col-md-6 team-img-w3-agile">
                        </div>
                        <div class="col-md-6 team-Info-agileits">
                            <h4>Nur Nabi Hridoy</h4>
                            <span>Web Developer</span>
                            <p style="color: #e115f1"><strong>Life is like a box of chocolates. You never know what you’re gonna get.</strong></p>
                            <div class="w3_agileits_social_media team_agile_w3l">
                                <ul class="social-icons3">
                                    <li class="agileinfo_share">Follow In</li>
                                    <li><a href="#" class="wthree_facebook" target="_blank"> <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_twitter" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_dribbble" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab4">
                        <div class="col-md-6 team-img-w3-agile">
                        </div>
                        <div class="col-md-6 team-Info-agileits">
                            <h4>Rafia Aktar</h4>
                            <span>Web Developer</span>
                            <p style="color: #e115f1"><strong>If at First you don’t Succeed, Try, Try Again.</strong></p>
                            <div class="w3_agileits_social_media team_agile_w3l">
                                <ul class="social-icons3">
                                    <li class="agileinfo_share">Follow In</li>
                                    <li><a href="#" class="wthree_facebook" target="_blank"> <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_twitter" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="wthree_dribbble" target="_blank"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //team tag end -->

<!--tabs-->
<script src="~/Scripts/js/easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!--//tabs end-->



