
@{
    ViewBag.Title = "Register";
}

<!--banner start-->
<div class="banner1">
    <div class="container">
        <h3><a href="#/">Home</a> / <span>Registered</span></h3>
    </div>
</div>
<!--banner end-->

<!--content-->
<div class="content">
    <!--registration tag start-->
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Register</h3>
                <form action="#" method="post">
                    <div class="key">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        <input type="text" value="FirstName" name="FirstName" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'FirstName'; }" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        <input type="text" value="LastName" name="LastName" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'LastName'; }" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        <input type="text" value="Username" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                        <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                        <input type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                        <div class="clearfix"></div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div> <!--registration tag end-->
</div>  <!--content end-->



