
@{
    ViewBag.Title = "Single";
}

<!--star-rate css & js link-->
<script src="~/Scripts/js/jstarbox.js"></script>
<link rel="stylesheet" href="~/Content/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript">
    jQuery(function () {
        jQuery('.starbox').each(function () {
            var starbox = jQuery(this);
            starbox.starbox({
                average: starbox.attr('data-start-value'),
                changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                ghosting: starbox.hasClass('ghosting'),
                autoUpdateAverage: starbox.hasClass('autoupdate'),
                buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                stars: starbox.attr('data-star-count') || 5
            }).bind('starbox-value-changed', function (event, value) {
                if (starbox.hasClass('random')) {
                    var val = Math.random();
                    starbox.next().text(' ' + val);
                    return val;
                }
            })
        });
    });
</script>
<!--//End-rate-->

<!--banner start-->
<div class="banner1">
    <div class="container">
        <h3><a href="#/">Home</a> / <span>Single</span></h3>
    </div>
</div>
<!--banner end-->

<!--content start-->
<div class="content">
    <!--single start-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="../images/si.jpg">
                                        <div class="thumb-image"> <img src="~/images/si.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                    <li data-thumb="../images/si1.jpg">
                                        <div class="thumb-image"> <img src="~/images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                    <li data-thumb="../images/si2.jpg">
                                        <div class="thumb-image"> <img src="~/images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                </ul>                                                            
                            </div>
                            @*Single-Page Product Details image zoom, slide  css & js link*@
                            <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
                            <script src="~/Scripts/js/jquery.flexslider.js"></script>
                            <script src="~/Scripts/js/imagezoom.js"></script>
                            <script>
                                // Can also be used with $(document).ready()
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        controlNav: "thumbnails"
                                    });
                                });
                            </script>   @*image thumbnails script code*@                                                       
                        </div>
                        
                        <div class="single-right simpleCart_shelfItem">
                            <h4>Product Details</h4>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <p class="price item_price">$ 104.00</p>
                            <div class="description">
                                <p><span>Quick Overview : </span> Sunglasses were originally invented to reduce distracting glare and allow more comfortable viewing in bright light. Early sunglasses were simply tinted glass or plastic lenses that were primarily meant to reduce brightness. Darker lenses were considered to be better because they screened out more light.</p>
                            </div>
                            <div class="color-quality">
                                <h6>Quality :</h6>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus1">&nbsp;</div>
                                        <div class="entry value1"><span>1</span></div>
                                        <div class="entry value-plus1 active">&nbsp;</div>
                                    </div>
                                </div>
                                <!--quantity-->
                                <script>
                                    $('.value-plus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                        divUpd.text(newVal);
                                    });

                                    $('.value-minus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                        if (newVal >= 1) divUpd.text(newVal);
                                    });
                                </script> @*quantity increament & decreament script code*@
                                <!--quantity-->
                            </div>
                            <div class="women">
                                <span class="size">BLACK COLOR </span>
                                <a href="#/" data-text="Add To Cart" class="my-cart-b item_add">Buy Now</a>
                            </div>
                            <div class="social-icon">
                                <a href="https://en-gb.facebook.com/login/" target="_blank"><i class="icon"></i></a>
                                <a href="https://twitter.com/login?lang=en" target="_blank"><i class="icon1"></i></a>
                                <a href="https://accounts.google.com/signin/v2/identifier?service=oz&passive=1209600&continue=https%3A%2F%2Fplus.google.com%2Fup%2F%3Fcontinue%3Dhttps%3A%2F%2Fplus.google.com%2Fpeople%26gpsrc%3Dgplp0&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><i class="icon2"></i></a>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="icon3"></i></a>
                            </div>
                            @*single page left side slide pic css & js link & script code *@
                            <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
                            <script src="~/Scripts/js/owl.carousel.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $("#owl-demo").owlCarousel({
                                        items: 1,
                                        lazyLoad: true,
                                        autoPlay: true,
                                        navigation: false,
                                        navigationText: false,
                                        pagination: true,
                                    });
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>                       
                   </div>                   
                </div>


                <div class="col-md-3 single-grid1">
                    <h3>Recent Products</h3>
                    <div class="recent-grids">
                        <div class="recent-left">
                            <a href="#/singlePage"><img class="img-responsive " src="~/images/r.jpg" alt=""></a>
                        </div>
                        <div class="recent-right">
                            <h6 class="best2"><a href="#/singlePage">GUCCI</a></h6>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <span class=" price-in1"> $ 29.00</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="recent-grids">
                        <div class="recent-left">
                            <a href="#/singlePage"><img class="img-responsive " src="~/images/r1.jpg" alt=""></a>
                        </div>
                        <div class="recent-right">
                            <h6 class="best2"><a href="#/singlePage">GUCCI</a></h6>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <span class=" price-in1"> $ 19.00</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="recent-grids">
                        <div class="recent-left">
                            <a href="#/singlePage"><img class="img-responsive " src="~/images/r2.jpg" alt=""></a>
                        </div>
                        <div class="recent-right">
                            <h6 class="best2"><a href="#/singlePage">RAY-BAN</a></h6>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <span class=" price-in1"> $ 19.00</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="recent-grids">
                        <div class="recent-left">
                            <a href="#/singlePage"><img class="img-responsive " src="~/images/r3.jpg" alt=""></a>
                        </div>
                        <div class="recent-right">
                            <h6 class="best2"><a href="#/singlePage">OAKLEY</a></h6>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <span class=" price-in1">$ 45.00</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!--Product Description start-->
            <div class="product-w3agile">
                <h3 class="tittle1">Product Description</h3>
                <div class="product-grids">
                    <div class="col-md-4 product-grid">
                        <div id="owl-demo" class="owl-carousel"> @*== slide pic left side start tag===*@
                            <div class="item">
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">BURBERRY</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 29.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r1.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">OAKLEY</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 19.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r2.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">RAY-BAN</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 19.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r3.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">GUCCI </a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1">$ 45.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r4.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">VERSACE</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 29.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r5.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">COSTA DEL MAR</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 19.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r2.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">MAUI JIM</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1"> $ 19.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="recent-grids">
                                    <div class="recent-left">
                                        <a href="#/singlePage"><img class="img-responsive " src="~/images/r3.jpg" alt=""></a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2"><a href="#/singlePage">RAY-BAN</a></h6>
                                        <div class="block">
                                            <div class="starbox small ghosting"> </div>
                                        </div>
                                        <span class=" price-in1">$ 45.00</span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div> @*== slide pic left side end tag===*@
                        <img class="img-responsive " src="~/images/woo2.jpg" alt="">
                    </div>
                    <div class="col-md-8 product-grid1">
                        <div class="tab-wl3">
                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                                    <li role="presentation" class="active"><a href="#/singlePage" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
                                    <li role="presentation"><a href="#reviews" role="tab" id="reviews-tab" data-toggle="tab" aria-controls="reviews">Reviews (1)</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                        <div class="descr">
                                            <h4>Sunglasses are eyewear protector.</h4>
                                            <p>Sunglasses are eyewear designed to help protect the eyes from excessive sunlight. Eyes are extremely light sensitive and can be easily damaged by overexposure to radiation in the visible and nonvisible spectra. Bright sunlight can be merely a distracting annoyance, but extended exposure can cause soreness, headaches, or even permanent damage to the lens, retina, and cornea. Short term effects of sun overexposure include a temporary reduction in vision, known as snow blindness or welders' flash. </p>
                                            <p class="quote">Sunglasses were originally invented to reduce distracting glare and allow more comfortable viewing in bright light. Early sunglasses were simply tinted glass or plastic lenses that were primarily meant to reduce brightness. Darker lenses were considered to be better because they screened out more light.</p>
                                            <div class="video">
                                                <iframe width="854" height="480" src="https://www.youtube.com/embed/MxwSmc4C5Ds" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            </div>
                                            <ul>
                                                <li> Twin button front fastening</li>
                                                <li> Length:65cm</li>
                                                <li> Regular fit</li>
                                                <li> Notched lapels</li>
                                                <li> Internal pockets</li>
                                                <li> Centre-back vent </li>
                                                <li> Material : Outer: 40% glass &amp; 40% Polyamide; Body Lining: 60% Plastic; Lining: 100% Acetate</li>
                                            </ul>
                                            <p class="quote">Sunglasses consist of a pair of light-filtering lenses and a frame to hold them in place. The vast majority of lenses are made of colorized plastic, such as polycarbonate. However, glass is still employed for high quality brands. </p>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="reviews" aria-labelledby="reviews-tab">
                                        <div class="descr">
                                            <div class="reviews-top">
                                                <div class="reviews-left">
                                                    <img src="~/images/men3.jpg" alt=" " class="img-responsive">
                                                </div>
                                                <div class="reviews-right">
                                                    <ul>
                                                        <li><a href="#">Admin(Sadat)</a></li>
                                                        <li><a href="#/contactPage"><i class="glyphicon glyphicon-share" aria-hidden="true"></i>Reply</a></li>
                                                    </ul>
                                                    <p>Sunglasses are eyewear designed to help protect the eyes from excessive sunlight. Eyes are extremely light sensitive and can be easily damaged by overexposure to radiation in the visible and nonvisible spectra. Bright sunlight can be merely a distracting annoyance, but extended exposure can cause soreness, headaches, or even permanent damage to the lens, retina, and cornea. </p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="reviews-bottom">
                                                <h4>Add Reviews</h4>
                                                <p>Your email address will not be published. Required fields are marked *</p>
                                                <p>Your Rating</p>
                                                <div class="block">
                                                    <div class="starbox small ghosting"><div class="positioner"><div class="stars"><div class="ghost" style="width: 42.5px; display: none;"></div><div class="colorbar" style="width: 42.5px;"></div><div class="star_holder"><div class="star star-0"></div><div class="star star-1"></div><div class="star star-2"></div><div class="star star-3"></div><div class="star star-4"></div></div></div></div></div>
                                                </div>
                                                <form action="#" method="post">
                                                    <label>Your Review </label>
                                                    <textarea type="text" name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                                    <div class="row">
                                                        <div class="col-md-6 row-grid">
                                                            <label>Name</label>
                                                            <input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                                        </div>
                                                        <div class="col-md-6 row-grid">
                                                            <label>Email</label>
                                                            <input type="email" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <input type="submit" value="SEND">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="custom" aria-labelledby="custom-tab">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>  <!--Product Description end-->
        </div>
    </div>
    <!--single end-->

    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">Best Sellers</h3>
            <div class="arrivals-grids">
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/p28.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/p27.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">GUCCI</a></h6>
                            <span class="size">BLACK COLOR </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/p30.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/p29.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben2">
                            <p>OUT OF STOCK</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">RAY-BAN</a></h6>
                            <span class="size">BLACK COLOR </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/s2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/s1.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben1">
                            <p>SALE</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">VERSACE</a></h6>
                            <span class="size">PURPLE COLOR </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#/singlePage">
                                    <div class="grid-img">
                                        <img src="~/images/s4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/s3.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="#/singlePage">BURBERRY</a></h6>
                            <span class="size">RED COLOR </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>  <!--content end-->

    <!-- new Products tag start-->
<div class="product-agile">
    <div class="container">
        <h3 class="tittle1"> New Products</h3>
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="caption">
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-001.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/abt-1.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-62%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-2.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/abt-03.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-30%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">MAUI JIM</a></h6>
                                        <span class="size">RED COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/abt-3.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/i2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben1">
                                        <p>SALE</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">VERSACE</a></h6>
                                        <span class="size">PURPLE COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/img-01.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/img2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-20%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/l2.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/img3.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">VERSACE</a></h6>
                                        <span class="size">BLACK COLOR</span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/l5.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/newArrival-4.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">GUCCI</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/p4.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/p10.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>-75%</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">COSTA DEL MAR</a></h6>
                                        <span class="size">BLACK COLOR</span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 cap-left simpleCart_shelfItem">
                                <div class="grid-arr">
                                    <div class="grid-arrival">
                                        <figure>
                                            <a href="#/singlePage">
                                                <div class="grid-img">
                                                    <img src="~/images/p13.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="grid-img">
                                                    <img src="~/images/p15.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="women">
                                        <h6><a href="#/singlePage">RAY-BAN</a></h6>
                                        <span class="size">BLACK COLOR </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#/checkoutPage" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <script>
                    $(function () {
                        $("#slider").responsiveSlides({
                            auto: true,
                            nav: true,
                            speed: 100,
                            namespace: "callbacks",
                            pager: true,
                        });
                    });
                </script>  <!-- new Products slide tag script code -->
            </div>
        </div>
    </div>
</div>    <!-- new Products tag end-->

